/* Theme rules describe how modules or layouts might look.
 Most sites don’t require a layer of theming but it is good to be aware of it. colors, borders */

:root {
  --main-background: #000;
  --back: #00c9a7;
  --scalefold: #fff;
  --border: #845ec2;
  --font: #845ec2;

  --back-tab: #4b4453;
  --border-tab: #c34a36;
  --font-tab: #c34a36;
}

@media only screen and (min-width: 1024px) {
  body {
    background-color: var(--scalefold);
  }

  .app--wrapper {
    background-color: var(--scalefold);
  }
  .app {
    color: var(--font);
  }

  header {
    background-color: var(--back);
    border: 1px solid var(--border);
  }

  aside {
    background-color: var(--back);
    border: 1px solid var(--border);
    border-top: none;
    border-right: none;
  }

  main {
    background-color: var(--back);
    border: 1px solid var(--border);
    border-top: none;
  }
  main section {
    border: 1px solid var(--border);
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .c {
    border-right: 1px solid var(--border);
  }

  .down--section div:not(.h) {
    border-right: 1px solid var(--border);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: var(--scalefold);
  }

  .app--wrapper {
    background-color: var(--scalefold);
  }
  .app {
    color: var(--font-tab) !important;
  }

  header {
    background-color: var(--back-tab) !important;
    border: 1px solid var(--border);
  }

  aside {
    background-color: var(--back-tab);
    border: 1px solid var(--border);
    border-top: none;
    border-right: none;
  }

  main {
    background-color: var(--back-tab) !important;
    border: 1px solid var(--border);
    border-top: none;
  }
  main section {
    border: 1px solid var(--border);
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .c {
    border-right: 1px solid var(--border);
  }

  .down--section div:not(.h) {
    border-right: 1px solid var(--border);
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --back: #ffde8c;
  }
  header {
    background-color: var(--back);
    border: 1px solid var(--border);
  }

  aside {
    background-color: var(--back);
    border: 1px solid var(--border);
    border-top: none;
  }

  main {
    background-color: var(--back);
    border: 1px solid var(--border);
    border-top: none;
  }
  .upper--section div:not(.d) {
    border-bottom: 1px solid var(--border);
    border-right: none;
  }
  .f {
    border-right: none !important;
  }
  .e,
  .f {
    border-bottom: 1px solid var(--border);
  }
}
